name: build
on: push
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install dependencies
        run: make install
      - name: lint
        run: make lint
      - name: build
        run: make build
      - name: test
        run: make test